{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row about_us">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10" id="about_us">
      <h1>About Our Company</h1>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae vero hic nisi quas fugiat ipsum! Numquam
        ducimus
        laborum ut reiciendis error labore corporis. Rerum necessitatibus voluptate nulla dignissimos rem porro!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae vero hic nisi quas fugiat ipsum! Numquam
        ducimus
        laborum ut reiciendis error labore corporis. Rerum necessitatibus voluptate nulla dignissimos rem porro!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae vero hic nisi quas fugiat ipsum! Numquam
        ducimus
        laborum ut reiciendis error labore corporis. Rerum necessitatibus voluptate nulla dignissimos rem porro!
      </p>
    </div>
  </div>
  <div class="row testimonials">
    <div class="col-1"></div>
    <div class="col-10" id="testimonials">
      <h1>Testimonials</h1>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="tests col-12 col-md-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid saepe cupiditate repudiandae,
        laboriosam
        corrupti nisi. Quis aut dolorem quo fugiat, totam iste earum voluptatibus. Magnam sequi ducimus inventore
        nihil!
      </p>
      <p><i><span>John Smith</span>- Vice President of Manufacturing at Food Company</i></p>
    </div>
    <div class="tests col-12 col-md-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid saepe cupiditate repudiandae,
        laboriosam
        corrupti nisi. Quis aut dolorem quo fugiat, totam iste earum voluptatibus. Magnam sequi ducimus inventore
        nihil!
      </p>
      <p><i><span>John Smith</span>- Vice President of Manufacturing at Food Company</i></p>
    </div>
    <div class="tests col-12 col-md-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid saepe cupiditate repudiandae,
        laboriosam
        corrupti nisi. Quis aut dolorem quo fugiat, totam iste earum voluptatibus. Magnam sequi ducimus inventore
        nihil!
      </p>
      <p><i><span>John Smith</span>- Vice President of Manufacturing at Food Company</i></p>
    </div>
  </div>
</div>


{% endblock %}