{% extends "layout.html" %}

{% block content %}

<div class="container" id="contact_us">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10">
      <h1>Contact Information</h1>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row" id="co_name">
    <div class="col-1"></div>
    <div class="col-10">
      <p>Pops Website, LLC</p>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row" id="address">
    <div class="col"></div>
    <div class="col-6">
      <p>8724 Drayton Dr.</p>
      <p>Irving, Texas 75063</p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row" id="contact_methods">
    <div class="col-1"></div>
    <div class="col-10">
      <p><span>Phone: </span><a href="tel:1-806-292-3717">(806) 292 - 3717</a></p>
      <p><span>Email: </span><a href="mailto:newscorta@gmail.com">oscar@popswebsite.com</a></p>
    </div>
    <div class="col-1"></div>
  </div>
</div>

{% endblock %}