{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="culture row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10">
      <h1>Our Culture</h1>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="culture_par row">
    <div class="col-12 col-md-8">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi adipisci quaerat possimus! Amet soluta deserunt
        ab necessitatibus dolorem, alias ad enim repellendus voluptas nam quasi! Molestiae maiores sit eum commodi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat, ad harum similique itaque omnis vitae
        eveniet officiis quae veritatis amet suscipit obcaecati nihil eius? Aut doloremque perferendis assumenda
        suscipit.</p>
    </div>
    <div class="col-12 col-md-4">
      <img src="./static/t2.jpg" class="img-thumbnail" alt="">
    </div>
  </div>
  <div class="values row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10">
      <h1>Our Values</h1>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="values_par row">
    <div class="col-12 col-md-4">
      <img src="./static/t2.jpg" class="img-thumbnail" alt="">
    </div>
    <div class="col-12 col-md-8">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi adipisci quaerat possimus! Amet soluta deserunt
        ab necessitatibus dolorem, alias ad enim repellendus voluptas nam quasi! Molestiae maiores sit eum commodi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat, ad harum similique itaque omnis vitae
        eveniet officiis quae veritatis amet suscipit obcaecati nihil eius? Aut doloremque perferendis assumenda
        suscipit.</p>
    </div>
  </div>
</div>

{% endblock %}