{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="main_header row">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Total Quality and Food Safety Solutions</h1>
        <p class="lead"><i>Pop's Website specializes in both manufacturing process and quality improvement</i></p>
        <p class="my-5">We are experienced in the areas of small to large scale Quality Management Systems, Food Safety,
          Quality Assurance, Six Sigma Support, Lean Manufacturing Support, Productivity improvement, and Cost of
          Quality.</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="row first_point">
    <div class="col-12 col-md-4">
      <h1><i class="fas fa-user-check"></i></h1>
      <h6>Always informed and in complete control</h6>
      <p>Regular project updates and MASO's flexibility means that our clients are fully aware of progress on their project and the asociated risks and countermeasures</p>
    </div>
    <div class="col-12 col-md-4">
      <h1><i class="fas fa-users"></i></h1>
      <h6>A team dedicated to achieve your objectives</h6>
      <p>Along with your staff and MASO's experience form one team in which supplements your existing skills and resources providing excellent value for your company while transferring skills to your team</p>
    </div>
    <div class="col-12 col-md-4">
      <h1><i class="fas fa-user-friends"></i></h1>
      <h6>Clear communication and responsibilities</h6>
      <p>MASO's project leader will establish a close working relationship with your project sponsor, we will participate in all key milestone meeting and always be available to deal with any concerns you may have</p>
    </div>
  </div>
  <div class="row second_point">
    <div class="col-12 col-md-4">
      <h1><i class="fas fa-clipboard-list"></i></h1>
      <h6>Clear defined deliverables</h6>
      <p>Before we start a project we spend as much time with you as is necessary to ensure we have fully understand your needs and expectations in order to obtain transparency and agreement</p>
    </div>
    <div class="col-12 col-md-4">
      <h1><i class="far fa-handshake"></i></h1>
      <h6>Commitment on your requirements</h6>
      <p>We understand many of the common food safety risks your product can face and also how manufacturing process inefficiencies affect your bottom line</p>
    </div>
    <div class="col-12 col-md-4">
      <h1><i class="far fa-file-alt"></i></h1>
      <h6>Detailed Proposal</h6>
      <p>Our proposal will clearly define the steps, risks, and countermeasures for a project. This document will give you a full overview over our work to accomplish your goal.</p>
    </div>
  </div>
</div>

{% endblock %}