{% extends "layout.html" %}

{% block content %}

<div class="solutions_page container">
  <div class="row">
    <div class="col-1"></div>
    <div class="sol_title col-10">
      <h1>Food Safety</h1>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="solutions row">
    <div class="solutions_points col-12 col-md-6">
      <p><span class="fas fa-check-square"></span>AIB/GMP's Preparation</p>
      <p><span class="fas fa-check-square"></span> GFSI (BRC, SQF) Preparation</p>
      <p><span class="fas fa-check-square"></span> Sanitation & Chemical Control Program</p>
      <p><span class="fas fa-check-square"></span> HACCP Management and support of specific customer or supplier quality
        issues</p>
    </div>
    <div class="solutions_image col-12 col-md-6">
      <img src="./static/01.jpg" class="img-thumbnail" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="sol_title col-10">
      <h1>Productivity</h1>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="solutions row">
    <div class="solutions_image col-12 col-md-6">
      <img src="./static/01.jpg" class="img-thumbnail" alt="">
    </div>
    <div class="solutions_points col-12 col-md-6">
      <p><span class="fas fa-check-square"></span>AIB/GMP's Preparation</p>
      <p><span class="fas fa-check-square"></span> GFSI (BRC, SQF) Preparation</p>
      <p><span class="fas fa-check-square"></span> Sanitation & Chemical Control Program</p>
      <p><span class="fas fa-check-square"></span> HACCP Management and support of specific customer or supplier quality
        issues</p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="sol_title col-10">
      <h1>Quality Managment Systems</h1>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="solutions row">
    <div class="solutions_points col-12 col-md-6">
      <p><span class="fas fa-check-square"></span>AIB/GMP's Preparation</p>
      <p><span class="fas fa-check-square"></span> GFSI (BRC, SQF) Preparation</p>
      <p><span class="fas fa-check-square"></span> Sanitation & Chemical Control Program</p>
      <p><span class="fas fa-check-square"></span> HACCP Management and support of specific customer or supplier quality
        issues</p>
    </div>
    <div class="solutions_image col-12 col-md-6">
      <img src="./static/01.jpg" class="img-thumbnail" alt="">
    </div>
  </div>
</div>

{% endblock %}